<aside class="bg-gray-50 h-full flex flex-col items-center py-5 gap-20 relative">
  <div class="rounded-full h-52 w-52 bg-[#EDEDED] flex flex-col items-center justify-center gap-2">
    <img src="./assets/login.png" alt="" class="w-32">
    <p class="font-semibold text-xl">Bsi Solutions</p>
  </div>

  <div>
    <ul>
      <li class="text-xl font-semibold text-[#777395] cursor-pointer"
        *hasPermission="[profile.ROLE_ADMINISTRADOR, profile.ROLE_AUXILIAR_ADMINISTRATIVO, profile.ROLE_SUPORTE, profile.ROLE_AUXILIAR_ADMINISTRATIVO]">
        <i class="fa-solid fa-table-columns"></i>
        Dashboards
      </li>
      <li class="text-xl font-semibold text-[#777395] cursor-pointer pt-5">
        <a [routerLink]="['/chamados']">
        <i class="fa-solid fa-ticket"></i>
        Chamados
        </a>
      </li>

      <li class="text-xl font-semibold text-[#777395] cursor-pointer pt-5"
        *hasPermission="[profile.ROLE_ADMINISTRADOR, profile.ROLE_AUXILIAR_ADMINISTRATIVO, profile.ROLE_SUPORTE]">
        <a [routerLink]="['profissionais']">
          <i class="fa-solid fa-user-plus"></i>
          Profissionais
        </a>
      </li>
    </ul>
  </div>

  <div class="absolute bottom-40">
    <ul class="flex gap-5">
      <li class="h-10 w-10 bg-[#FF4E83] flex justify-center items-center rounded-full">
        <i class="fa-brands fa-instagram text-3xl text-white"></i>
      </li>
      <li class="h-10 w-10 bg-[#004E97] flex justify-center items-center rounded-full">
        <i class="fa-brands fa-facebook text-3xl text-white"></i>
      </li>
      <li class="h-10 w-10 bg-[#0376E0] flex justify-center items-center rounded-full">
        <i class="fa-brands fa-twitter text-3xl text-white"></i>
      </li>
      <li class="h-10 w-10 bg-[#C00000] flex justify-center items-center rounded-full">
        <i class="fa-brands fa-youtube text-3xl text-white "></i>
      </li>
    </ul>
  </div>

</aside>
