<main class="w-full h-screen bg-[#4d4c7d] flex justify-center items-center">
  <div class="w-10/12 h-10/12 flex">
    <div
      class="w-1/2 flex flex-col items-center py-20 gap-2.5 h-full bg-[#f5f5f5] rounded-l-md"
    >
      <h1 class="text-4xl">Bem vindo</h1>
      <p class="font-medium mb-10">
        BSI Solutions: sua central de chamados mais inteligente.
      </p>

      <div class="bg-white h-fit overflow-y-scroll shadow-xl w-5/6">
        <div class="bg-white h-fit overflow-y-scroll shadow-xl">
  <form class="p-2 w-auto flex flex-col space-y-4">
    <h1 class="font-bold text-2xl">Redefinir senha</h1>
    <input
      type="password"
      class="placeholder:text-gray-500 border rounded-md border-zinc-400 text-sm w-1/2 h-10 p-3"
      placeholder="Nova Senha"
    />
    <input
      type="password"
      class="placeholder:text-gray-500 border rounded-md border-zinc-400 text-sm w-1/2 h-10 p-3"
      placeholder="Confirmar Nova Senha"
    />
  </form>
  <div class="w-full flex justify-end items-end flex-grow">
    <button
      class="p-2 px-5 text-sm rounded-xs flex justify-center items-center bg-[#4D4C7D] text-white font-semibold  mr-4 mb-10"
    >
     Redefinir Senha
    </button>
  </div>
</div>

      </div>
    </div>

    <div
      class="w-1/2 h-full bg-[#e8e8e8] rounded-r-md flex justify-center items-center"
    >
      <img
        src="./assets/login.png"
        alt="imagem que referencia tela de login. Elementos na imagem: simbolos de ferramentas de programação(html, css e outros)"
        class="h-11/12"
      />
    </div>
  </div>
</main>



