<div class=" flex flex-col h-[75vh] w-[75vw] gap-5">

  <app-legends pathRoute="/chamados" title="Cadastrar novo chamado" textButton="Voltar" />


  <div class="bg-white h-full  overflow-y-scroll">
    <form class="flex w-full gap-5 flex-col bg-white shadow-2xl p-5 rounded-md">
      <div class="flex w-full gap-5">
        <div class="flex flex-col gap-2.5 py-5 w-96">
          <label for="title">
            <h2 class="">Titulo</h2>
          </label>

          <div class="h-10 w-full border-1 rounded-md border-gray-300">
            <input type="text"
              class="bg-white h-full w-full rounded-md focus:outline-none focus:ring-0 focus:border-transparent px-5"
              formControlName="password" id="title">
          </div>
        </div>

        <div class="flex flex-col gap-2.5 py-5 w-96">
          <label for="title">
            <h2 class="">Time</h2>
          </label>

          <div class="h-10 w-full border-1 rounded-md border-gray-300">
            <select
              class="bg-white h-full w-full rounded-md focus:outline-none focus:ring-0 focus:border-transparent px-5"
              formControlName="password" id="team">
              <option [value]="null">Selecione uma opção</option>
              @for (team of teams; track $index) {
                      <option [value]="team">{{team}}</option>
              }
            </select>
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-2.5 py-5 w-full">
        <label for="description">
          <h2 class="">Imagem</h2>
        </label>

        <div class="w-full  flex gap-5 h-40">
          <div class="h-10 w-full border border-none flex items-center px-5 cursor-pointer relative">
            <input type="file" class="absolute inset-0 w-full h-full opacity-0 cursor-pointer"
              formControlName="password" id="description" />
            <i class="fa-solid fa-image text-xl"></i>
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-2.5 py-5 w-full">
        <label for="description">
          <h2 class="">Descricacao</h2>
        </label>

        <div class="h-40 w-full border border-gray-300 rounded-md">
          <textarea
            class="bg-white h-full w-full rounded-md focus:outline-none focus:ring-0 focus:border-transparent px-5 py-4 resize-none"
            formControlName="password" id="description"></textarea>
        </div>
      </div>

      <div class="w-full flex justify-end  items-end flex-grow">

        <div class=" p-2  rounded-xs flex justify-center items-center bg-[#363062] text-white font-semibold w-28">
          <button>
            salvar
          </button>
        </div>
      </div>
    </form>

  </div>


</div>
