<form [formGroup]="loginForm" (ngSubmit)="login()"
 class=" h-full w-full flex flex-col justify-center">

  <div class="flex flex-col gap-2.5 px-20 py-5">
    <label for="">
      <h2 class="text-2xl font-medium">Email</h2>
    </label>

    <div class="h-12 w-full">
      <input type="text" class="bg-white h-full w-full rounded-md px-4" formControlName="email">
    </div>
  </div>

  <div class="flex flex-col gap-2.5 px-20 py-5">
    <label for="">
      <h2 class="text-2xl font-medium">Senha</h2>
    </label>

    <div class="h-12 w-full">
    <input type="text" class="bg-white h-full w-full rounded-md px-4" formControlName="password">
    </div>
  </div>

  <div class="flex  items-center justify-between pr-20">
    <div class="flex gap-2.5 px-20 items-center cursor-pointer">
      <input type="checkbox" id="log" class="w-5 h-5">
      <label for="log">
        Mantenha-me logado
      </label>
    </div>

    <div class="h-5">
      <p class="text-[#FF3939] cursor-pointer">Esqueceu a senha?</p>
    </div>
  </div>

  <div class="w-full h-28 px-20 pt-10">
    <app-button text="Entrar" [disabled]="!loginForm.valid"/>
  </div>
  <div class="mt-5 flex justify-end px-20 ">
    <p class="text-blue-600 cursor-pointer">Não tem uma conta? Cadastre-se</p>
  </div>

</form>
