<form action="" class=" h-full w-full ">

  <div class="flex flex-col gap-2.5 px-20 py-5">
    <label for="">
      <h2 class="text-2xl font-medium">Email</h2>
    </label>

    <div class="h-12 w-full">
      <app-input />
    </div>
  </div>

  <div class="flex flex-col gap-2.5 px-20 py-5">
    <label for="">
      <h2 class="text-2xl font-medium">Senha</h2>
    </label>

    <div class="h-12 w-full">
      <app-input />
    </div>
  </div>

  <div class="flex gap-2.5 px-20 items-center">
    <input type="checkbox" id="log" class="text-xl">
    <label for="log">
      Mantenha-me logado
    </label>

  </div>

</form>
